.article-one {
    width: 80%;
}

.article-one .patient {
    border: 2px solid white;
}
.article-one .patient .piece {
    margin-left: 60px;
}
#app {
    margin-top: 50px;
}
.wrapbox {
    margin-top: 20px;
    padding: 0.1rem;
}
h2 {
    margin-top: 1rem;
}
