body {
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../assets/26363.png);
    background-size: cover;
    background-attachment: fixed;
}
.nav-horizontal {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav-horizontal a {
    color: black;
    padding: 0px 1rem;
    text-decoration: none;
}

.header-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.5s ease;
}
.header-main:hover {
    background-color: white;
    opacity: 0.9;
}

#topnav a {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: black;
    text-decoration: none;
    margin-right: 8px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}

#topnav a:hover {
    background-color: rgb(150, 194, 187);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#topnav a:active {
    background-color: white;
}
.wrapper {
    max-width: 1400px;
    padding: 0px 4vw;
    margin: 0px auto;
}

.wrapbox {
    border-radius: 8px;
    width: 80%;
    margin-top: 70px;
    margin-left: 70px;
    padding: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    vertical-align:top;
}
.logo h1 {
    font-size: 1.3rem;
    margin: 0px;
}

.logo img {
    margin-right: 1rem;
    max-width: 2%;
}

.header-main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-content {
    margin-bottom: 100px;
}
.footer-main {
    background-image: url("../assets/v870-tang-36.jpg");
    opacity: 0%;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s ease;
}
.footer-main:hover {
    opacity: 100%;
}

.footer-main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-main p {
    margin: 0px;
    color: black;
}

.footer-main a {
    transition: color 0.5s ease;
}

.footer-main a:hover {
    color:rgb(150, 194, 187);
}

.article-one header {
    padding: 2rem 8vw 6rem;
}

.article-one .msg {
    text-align: center;
}

.formsubmit, .article-one button {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    display: block;
    border: none;
    border-radius: 8px;
    margin: 0px auto;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1rem;
}

.article-one button {
    margin-top: 0%;
    display:inline-block;
}

.formsubmit:hover, .article-one button:hover {
    background-color: rgb(215, 215, 215);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.formsubmit:active, .article-one button:active {
    background-color: white;
}
